@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
::-webkit-scrollbar{
  display: none;
}
.slider{
  background-image: url('https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}